body {
  font-family: 'Beyond The Mountains', sans-serif;
  background-color: #f19b8c;
  color: #f8f9fa;
}

/* Navbar */
.navbar {
  height: 150px;
  background-color: transparent;
  box-shadow: 0px 2px 5px rgba(238, 223, 223, 0.5);
}

.navbar-brand {
  font-size: 2rem;
  color: #f8f9fa;
}

.navbar-brand img {
  width: 50px;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
}

.nav-link {
  color: #f8f9fa;
}

.nav-link:hover,
.nav-link:active {
  color: #970e4c;
}

.animated-navbar {
  animation: slideIn 0.85s ease-out;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.nav-container {
  background-color: #50332e;
  border-radius: 10px;
  padding: 26px 47px;
}

.navbar-brand img {
  border-radius: 50%;
}

@media screen and (main-width: 993px) {
  .nav-container {
    min-width: 1024px;
  }
}

@media screen and (max-width: 993px) {
  .nav-container {
    display: flex;
    padding: 15px;
  }
  .nav-item {
    display: flex !important;
  }
}

/* Custom styles for hero section */
.hero {
  align-items: center;
  padding: 100px 50px;
  position: relative;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 165px;
  flex-direction: column;
}

.hero-main {
  max-height: 660.87px;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #f19b8c 0%, #50332e 78.5%);
  opacity: 0.9;
}

.hero-background {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images//popfollow.jpg);
  background-size: cover;
  z-index: -1;
}
.hero-content {
  text-align: center;
  color: #fff;
}

.hero h1 {
  font-size: 75px;
  margin-bottom: 20px;
  font-family: 'Phonk Contrast DEMO', 'Phonk Contrast DEMO Placeholder',
    sans-serif;
  letter-spacing: -1.2px;
  color: #ffffff;
  font-style: italic;
  font-weight: bolder;
  text-transform: uppercase;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 40px;
  margin: 0 auto;
  border-radius: 19px;
}

.hero .contract-address {
  font-size: 1.2rem;
  border: solid;
  margin: 73px auto;
  max-width: 650px;
  padding: 15px 0;
}

.btn-primary {
  background-color: #fd9785;
  border-color: #fd9785;
}

.img-about {
  border-radius: 15px;
}

.section-title {
  color: #fafdfc;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  text-align: center;
  text-shadow: 2px 2px 4px #0000001a;
  text-transform: uppercase;
}

/* General animation for elements with .animate class */
.animate {
  animation-duration: 1.85s; /* Adjust duration as needed */
  animation-fill-mode: forwards;
  opacity: 0; /* Elements start hidden by default */
}

/* Define specific animations using keyframes */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Custom styles for animated hero section */
.animate-left {
  animation: slideInLeft 1.85s forwards;
}

.animate-right {
  animation: slideInRight 1.85s forwards;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Custom styles for about section */
.about-section {
  padding: 100px 0;
}

.about-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* Custom styles for tokenomics section */
.tokenomics-section {
  padding: 100px 0;
}

.section-header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 50px;
}

.tokenomics-content {
  display: flex;
  flex-direction: column;
}

.info-box {
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.info-box h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.info-box p {
  font-size: 1.2rem;
}

/* Custom styles for contact section */
.contact-section {
  padding: 100px 0;
  text-align: center;
  align-items: center;
}

.section-header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 50px;
}

.logo {
  width: 100%;
  max-width: 200px;
}

.contact-info p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.social-icons a {
  font-size: 2rem;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  text-decoration: none;
}

.social {
  font-size: 2rem;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  text-decoration: none;
  margin-left: 15px;
}

.social-icons a:hover {
  background-color: #ffffff;
  color: #970e4c;
}

.token-name {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Bungee', sans-serif;
  transition: transform 0.2s ease-in-out;
}

.token-name:hover {
  transform: scale(1.1);
}

/* Custom styles for footer section */
.footer-section {
  background-color: #50332e;
  color: #ffffff;
  padding: 20px 0;
}

.footer-section p {
  font-size: 0.5rem;
  margin: 0;
}

/* Custom styles for meme-like buttons */
.button-container {
  margin-top: 20px;
}

.btn-buy,
.btn-chart {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.2rem;
  padding: 10px 20px;
  margin-right: 10px;
}

.btn-buy {
  background-color: #4caf50; /* Green */
  border: none;
}

.btn-chart {
  background-color: #f44336; /* Red */
  border: none;
}

.contact-section img {
  width: 100px;
  margin-bottom: 30px;
}

.ca {
  font-size: 16px;
  font-style: italic;
}
